body{
    background-color:#f2e3d6;
}
.topnav{
    background-color: #994900;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.topnav a, .topnav div{
    color: #f2e3d6;
    padding: 1.5em;
    font-size: large;
    font-family: "Lucida Console", sans-serif;
    text-decoration: none;
}
i{
    color: white;

}
figure input{
    border-radius: 1em;
    background-color: #f2e3d6;
    color: black;
    width: 15%;
    min-width: 95px;
    margin-top: 0.5em;
}
.active{
    text-decoration: underline;
}
#mobile{
    display:none;
}

figure img{
    width: 100%;
    margin-bottom: 0.5em;
}

figure figcaption{
    font-size:150%;
    color: #994900;
    font-family: "Lucida Console", sans-serif;

}
@media screen and (max-width: 570px){
    #desktop{
        display:none;
    }
    #mobile{
        display:flex;
        flex-flow: column wrap;
        justify-content: space-between;
    }
    figure figcaption{
        font-size: 120%
    }
    #menu_checkbox:checked~a, #menu_checkbox:checked~#mobile{
        display:none;
    }

    #menu_checkbox{
        visibility:hidden;
    }
    i{
        padding:2em;
    }

}
