body{
    background-color:#f2e3d6;
}
.topnav{
    background-color: #994900;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.topnav a, .topnav div{
    color: #f2e3d6;
    padding: 1.5em;
    font-size: large;
    font-family: "Lucida Console", sans-serif;
}
i{
    color: white;

}

#mobile{
    display:none;
}

figure img{
    width: 100%;
}

figure figcaption{
    font-size:150%;
    color: #994900;
    font-family: "Lucida Console", sans-serif;

}
@media screen and (max-width: 640px){
    #desktop{
        display:none;
    }
    #mobile{
        display:flex;
        flex-flow: column wrap;
        justify-content: space-between;
    }
    figure figcaption{
        font-size: 120%
    }
    #menu_checkbox:checked~a, #menu_checkbox:checked~#mobile{
        display:none;
    }

    #menu_checkbox{
        visibility:hidden;
    }
    i{
        padding:2em;
    }


}
